<nav class="navbar navbar-light bg-light shadow-sm bg-body rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="Image/Form_Image.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Survey
        </a>
        <a class="navbar-brand" href='/'>Home</a>
        <a class="navbar-brand" href='/update'>Update</a>
        <a class="navbar-brand" href='/delete'>Delete</a>
        <a class="navbar-brand" href='/download'>Download</a>
    </div>
</nav>